section > .footer {
    margin-top: 50px;
    width: 100%;
    min-height: 100px;
    position: relative;
    background-color: rgba(128, 128, 128, 0.459);
    border-top: 2px solid gray;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

section > .footer ul {
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

section > .footer ul li {
    display: inline;
}

section > .footer ul li a {
    display: inline-block;
    padding: 10px;
    color: black;
    margin: 20px
}

section > .footer ul li a:hover {
    color: yellow;
}

section > .footer > * {
    justify-content: center;
    text-align: center;
}