/* ------------------------ */

#mainContainer {
  width: 100vw;
  min-height: 100vh;
  /* background-color: lightcoral; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Start Site */
#mainContainer #startQuiz {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  margin-top: 30px;
  min-height: 50vh;
}

/* Quizinformation - Box */
#mainContainer #startQuiz #quizinformation {
  margin-bottom: 40px;
  padding: 10px;
  background-color: #fff;
  border: 2px solid black;
  border-radius: 5px 5px 5px 5px;
  min-width: 50vw;
}

#mainContainer #startQuiz #quizinformation .header {
  margin-bottom: 25px;
}

#mainContainer #startQuiz #quizinformation .header > div {
  margin-bottom: 25px;
  font-size: 1.3rem;
}

/* Quiz Card */

#mainContainer .controls {
  position: relative;
  top: 10px;
  right: 10px;
}

#mainContainer .quizCard {
  background-color: white;
  padding: 10px;
  width: 100vw;
  max-width: 100vw;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
}

/* Header */
#mainContainer .quizCard .header {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
}

@media screen and (min-width: 576px) {
  #mainContainer .quizCard {
    width: 95vw;
    max-width: 95vw;
  }
}
@media screen and (min-width: 768px) {
  #mainContainer .quizCard {
    width: 90vw;
    max-width: 90vw;
  }

  #mainContainer .quizCard .header {
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 5px;
  }
}
@media screen and (min-width: 992px) {
  #mainContainer .quizCard {
    width: 70vw;
    max-width: 70vw;
  }
}

#mainContainer .controls {
  padding: 5px;
}

#mainContainer .controls #sounds {
 width: 20px;
 height: 20px;
 margin: 5px;
}

/* Answers */
#mainContainer .quizCard .main .answerContainer {
  /* border: 1px solid gray; */
  position: relative;
}

/* Answer Text */
#mainContainer .quizCard .main .answerContainer .answer.text {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 10px 0 10px 0;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
}

#mainContainer
  .quizCard
  .main
  .answerContainer.userCanChoose
  .answer.text:hover:not(.choosen) {
  background-color: lightblue;
}

#mainContainer
  .quizCard
  .main
  .answerContainer.userCanChoose
  .answer.text:active:not(.choosen) {
  background-color: darkblue;
}

#mainContainer .quizCard .main .answerContainer .answer.text .small {
  font-size: 1rem;
}

#mainContainer .quizCard .main .answerContainer .answer.text .middle {
  font-size: 1.5rem;
}

#mainContainer .quizCard .main .answerContainer .answer.text .large {
  font-size: 1.7rem;
}

/* Answer Image */
#mainContainer .quizCard .main .answerContainer .answer.image {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 10px 0 10px 0;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
}

#mainContainer
  .quizCard
  .main
  .answerContainer.userCanChoose
  .answer.image:hover {
  background-color: lightblue;
}

#mainContainer
  .quizCard
  .main
  .answerContainer.userCanChoose
  .answer.image:active {
  background-color: darkblue;
}

#mainContainer .quizCard .main .answerContainer .answer.image .small {
  max-width: 50%;
  height: auto;
}

#mainContainer .quizCard .main .answerContainer .answer.image .middle {
  max-width: 70%;
  height: auto;
}

#mainContainer .quizCard .main .answerContainer .answer.image .large {
  max-width: 100%;
  height: auto;
}

/* Answer Text Input */
#mainContainer .quizCard .main .answerContainer #textInput.small {
  display: block;
  width: 90%;
  height: auto;
  border-radius: 5px;
  border: 1px solid black;
  outline: none;
  padding: 10px;
  font-size: 1.5rem !important;
  margin: auto;
  text-align: center;
}

#mainContainer .quizCard .main .answerContainer #textInput.middle {
  display: block;
  width: 90%;
  height: auto;
  border-radius: 5px;
  border: 1px solid black;
  outline: none;
  padding: 10px;
  font-size: 1.25rem !important;
  margin: auto;
  text-align: center;
}

#mainContainer .quizCard .main .answerContainer #textInput.large {
  display: block;
  width: 90%;
  height: auto;
  border-radius: 5px;
  border: 1px solid black;
  outline: none;
  padding: 10px;
  font-size: 1rem !important;
  border: 1px solid black;
  margin: auto;
}

#mainContainer .quizCard .main .answerContainer #textInput.small:focus {
  border: 2px solid red;
}

#mainContainer .quizCard .main .answerContainer #textInput.middle:focus {
  border: 2px solid red;
}

#mainContainer .quizCard .main .answerContainer #textInput.large:focus {
  border: 2px solid black;
}

@media screen and (min-width: 576px) {
  #mainContainer .quizCard .main .answerContainer #textInput.small {
    width: 75%;
  }

  #mainContainer .quizCard .main .answerContainer #textInput.middle {
    width: 85%;
  }
}
@media screen and (min-width: 768px) {
  #mainContainer .quizCard .main .answerContainer #textInput.small {
    width: 50%;
  }

  #mainContainer .quizCard .main .answerContainer #textInput.middle {
    width: 65%;
  }
}
@media screen and (min-width: 992px) {
  #mainContainer .quizCard .main .answerContainer #textInput.small {
    width: 40%;
  }

  #mainContainer .quizCard .main .answerContainer #textInput.middle {
    width: 50%;
  }
}

#mainContainer .quizCard .main .task {
  text-align: center;
  color: gray;
}

#mainContainer .quizCard .main .question {
  text-align: center;
  color: black;
  font-size: 1.3rem;
}

/* Media Container */

#mainContainer .quizCard .main .media {
  background-color: lightgray;
  border-radius: 10px;
}

#mainContainer .quizCard .main .media .item {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 5px 0 5px 0;
}

/* Media Image and Video */
#mainContainer .quizCard .main .media .item .video,
#mainContainer .quizCard .main .media .item .image {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#mainContainer .quizCard .main .media .item .video .small,
#mainContainer .quizCard .main .media .item .image .small {
  min-width: 50%;
  max-width: 50%;
  height: auto;
}

#mainContainer .quizCard .main .media .item .video .middle,
#mainContainer .quizCard .main .media .item .image .middle {
  min-width: 70%;
  max-width: 70%;
  height: auto;
}

#mainContainer .quizCard .main .media .item .video .large,
#mainContainer .quizCard .main .media .item .image .large {
  min-width: 100%;
  max-width: 100%;
  height: auto;
}

/* Media Text */
#mainContainer .quizCard .main .media .item .text .small {
  font-size: 1rem;
  color: black;
}

#mainContainer .quizCard .main .media .item .text .middle {
  font-size: 1.2rem;
  color: black;
}

#mainContainer .quizCard .main .media .item .text .large {
  font-size: 1.5rem;
  color: black;
}

/* Media Audio */

#mainContainer .quizCard .footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

#mainContainer .quizCard .footer .description {
  color: black;
  background-color: white;
  border-radius: 10%;
  padding: 5px;
  margin-bottom: 5px;
}

#mainContainer .quizCard .footer .continueBtn {
  background-color: gray;
  min-width: min(70vw, 200px);
}

#mainContainer .quizCard .footer.correct {
  background-color: green;
}

#mainContainer .quizCard .footer.wrong {
  background-color: red;
}

/* is Online Socure */

.onlineSource::after {
  content: "Externer Inhalt - Wird aus Datenschutzrechtlichen Gründen nicht vorgeladen.";
  min-width: 1rem;
  min-height: 1rem;
  color: orange;
}

/* Online Soruce images */
.onlineSource img {
  background-color: gray;
}

/* If spoiler is a video */
.spoiler > video {
  opacity: 1;
  border: 2px solid gray;
}

.spoiler::after {
  content: "Dieser Inhalt wird nur angezeigt, sobald draufgeklickt wird.";
  min-width: 1rem;
  min-height: 1rem;
  color: red;
}

.correct {
  background-color: green;
}

.wrong {
  background-color: red;
}

.notChoosenButCorrect {
  background-color: orange;
}

.choosen:not(.correct):not(.wrong):not(.notChoosenButCorrect) {
  background-color: rgba(165, 42, 42, 0.822);
}

.choosen:hover:not(.correct):not(.wrong):not(.notChoosenButCorrect) {
  background-color: rgb(110, 33, 33);
}

/* Result container */

#mainContainer .resultContainer {
  width: 100vw;
  min-height: 100vh;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#mainContainer .resultContainer .results {
  font-size: 1.2rem;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}

#mainContainer .resultContainer .results > div {
  margin-bottom: 10px;
}

#mainContainer .resultContainer .results #mark {
  font-size: 1.6rem;
  color: black;
  background-color: lightgreen;
  border-radius: 50%;
  text-align: center;
}

/* Details */
#mainContainer .resultContainer .details {
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.61);
  border-radius: 5px;
  color: gray;
  padding: 10px;
}

/* view Answers */
/* Button */
#mainContainer .resultContainer #viewAnswers {
  width: 100%;
}

#mainContainer .resultContainer #toggleChoosenAnswers {
  display: block;
  margin: 10px auto 10px auto;
}

/* #mainContainer .resultContainer #viewAnswers #choosenAnswers #content {
  display: flex;
  flex-direction: column;
  flex-flow: column;
  width: 100%;
  min-height: 500px;
} */

#mainContainer .resultContainer #viewAnswers #choosenAnswers #content .correct {
  background-color: rgba(0, 128, 0, 0.486);
}

#mainContainer .resultContainer #viewAnswers #choosenAnswers #content .wrong {
  background-color: rgba(255, 0, 0, 0.486);
}

#mainContainer .resultContainer #viewAnswers #choosenAnswers #content .item {
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
}

/* Styling Description Text in Result Boxes */
#mainContainer .resultContainer #viewAnswers #choosenAnswers #content .item .description{
  color: white;
}

#mainContainer .resultContainer #viewAnswers #choosenAnswers #content .item .answer{
  color: gray;
}