/* ------------------------ */

#mainContainer {
  width: 100vw;
  min-height: 100vh;
  /* background-color: lightcoral; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Start Site */
#mainContainer #startQuiz {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  margin-top: 30px;
  min-height: 50vh;
}

/* Quizinformation - Box */
#mainContainer #startQuiz #quizinformation {
  margin-bottom: 40px;
  padding: 10px;
  background-color: #fff;
  border: 2px solid black;
  border-radius: 5px 5px 5px 5px;
  min-width: 50vw;
}

#mainContainer #startQuiz #quizinformation .header {
  margin-bottom: 25px;
}

#mainContainer #startQuiz #quizinformation .header > div {
  margin-bottom: 25px;
  font-size: 1.3rem;
}

/* Quiz Card */

#mainContainer .controls {
  position: relative;
  top: 10px;
  right: 10px;
}

#mainContainer .quizCard {
  background-color: white;
  padding: 10px;
  width: 100vw;
  max-width: 100vw;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
}

/* Header */
#mainContainer .quizCard .header {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
}

@media screen and (min-width: 576px) {
  #mainContainer .quizCard {
    width: 95vw;
    max-width: 95vw;
  }
}
@media screen and (min-width: 768px) {
  #mainContainer .quizCard {
    width: 90vw;
    max-width: 90vw;
  }

  #mainContainer .quizCard .header {
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    border-radius: 5px;
  }
}
@media screen and (min-width: 992px) {
  #mainContainer .quizCard {
    width: 70vw;
    max-width: 70vw;
  }
}

#mainContainer .controls {
  padding: 5px;
}

#mainContainer .controls #sounds {
 width: 20px;
 height: 20px;
 margin: 5px;
}

/* Answers */
#mainContainer .quizCard .main .answerContainer {
  /* border: 1px solid gray; */
  position: relative;
}

/* Answer Text */
#mainContainer .quizCard .main .answerContainer .answer {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 10px 0 10px 0;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
}

#mainContainer .quizCard .main .answerContainer .answer.text {
  text-align: center;
}
#mainContainer .quizCard .main .answerContainer .answer.text[data-size='small'] {
  font-size: 1rem;
}
#mainContainer .quizCard .main .answerContainer .answer.text[data-size='middle'] {
  font-size: 1.5rem;
}
#mainContainer .quizCard .main .answerContainer .answer.text[data-size='large'] {
  font-size: 2.2rem;
}
/* Answer Media */
#mainContainer .quizCard .main .answerContainer .answer.media .mediaContainer > * {
  max-width: 100%;
}

#mainContainer .quizCard .main .answerContainer .answer.media[data-size='small'] .mediaContainer {
  max-width: 25%;
  margin: auto;
  display: block;
}

#mainContainer .quizCard .main .answerContainer .answer.media[data-size='middle'] .mediaContainer > *  {
  max-width: 50%;
}

#mainContainer .quizCard .main .answerContainer .answer.media[data-size='large'] .mediaContainer > *  {
  max-width: 100%;
}

#mainContainer .quizCard .main .answerContainer .answer.media[data-size='large'] .mediaContainer.other > *  {
  width: 100%;
}


@media screen and (min-width: 768px){
  #mainContainer .quizCard .main .answerContainer .answer.media[data-size='small'] .mediaContainer {
    max-width: 30%;
  }
  
  #mainContainer .quizCard .main .answerContainer .answer.media[data-size='middle'] .mediaContainer > *  {
    max-width: 50%;
  }
  
  #mainContainer .quizCard .main .answerContainer .answer.media[data-size='large'] .mediaContainer > *  {
    max-width: 60%;
  }
}

#mainContainer
  .quizCard
  .main
  .answerContainer.userCanChoose
  .answer:hover:not(.choosen) {
  background-color: lightblue;
}

#mainContainer
  .quizCard
  .main
  .answerContainer.userCanChoose
  .answer:active:not(.choosen) {
  background-color: darkblue;
}



/* Answer Text Input */
#mainContainer .quizCard .main .answerContainer #textInput[data-size='small'] {
  display: block;
  width: 90%;
  height: auto;
  border-radius: 5px;
  border: 1px solid black;
  outline: none;
  padding: 10px;
  font-size: 1.5rem !important;
  margin: auto;
  text-align: center;
}

#mainContainer .quizCard .main .answerContainer #textInput[data-size='middle'] {
  display: block;
  width: 90%;
  height: auto;
  border-radius: 5px;
  border: 1px solid black;
  outline: none;
  padding: 10px;
  font-size: 1.25rem !important;
  margin: auto;
  text-align: center;
}

#mainContainer .quizCard .main .answerContainer #textInput[data-size='large'] {
  display: block;
  width: 90%;
  height: auto;
  border-radius: 5px;
  border: 1px solid black;
  outline: none;
  padding: 10px;
  font-size: 1rem !important;
  border: 1px solid black;
  margin: auto;
}

#mainContainer .quizCard .main .answerContainer #textInput.small:focus {
  border: 2px solid red;
}

#mainContainer .quizCard .main .answerContainer #textInput.middle:focus {
  border: 2px solid red;
}

#mainContainer .quizCard .main .answerContainer #textInput.large:focus {
  border: 2px solid black;
}

@media screen and (min-width: 576px) {
  #mainContainer .quizCard .main .answerContainer #textInput.small {
    width: 75%;
  }

  #mainContainer .quizCard .main .answerContainer #textInput.middle {
    width: 85%;
  }
}
@media screen and (min-width: 768px) {
  #mainContainer .quizCard .main .answerContainer #textInput.small {
    width: 50%;
  }

  #mainContainer .quizCard .main .answerContainer #textInput.middle {
    width: 65%;
  }
}
@media screen and (min-width: 992px) {
  #mainContainer .quizCard .main .answerContainer #textInput.small {
    width: 40%;
  }

  #mainContainer .quizCard .main .answerContainer #textInput.middle {
    width: 50%;
  }
}

#mainContainer .quizCard .main .task {
  text-align: center;
  font-size: 1.2rem;
  color: black;
}

#mainContainer .quizCard .main .question {
  text-align: center;
  color: black;
  font-size: 1.3rem;
}

/* Media Container */
#mainContainer .quizCard .main > .media {
  background-color: lightcyan;
  border-radius: 10px;
  width: 100%;
  position: relative;
  margin: auto;
}

#mainContainer .quizCard .main > .media .section {
  background-color: lightgray;
  border-radius: 10px;
  display: block;
  width: 100%;
  position: relative;
  margin-bottom: 10px;
  padding: 10px;
}

#mainContainer .quizCard .main > .media .item .mediaContainer > * {
  max-width: 100%;
  position: relative;
  display: block;
  margin: auto;
}

#mainContainer .quizCard .main > .media .item .mediaContainer.other > * {
  width: 100%;
  position: relative;
  display: block;
  margin: auto;
}

#mainContainer .quizCard .main > .media .item.text {
  text-align: center;
}
#mainContainer .quizCard .main > .media .item .text[data-size='small'] {
  font-size: 1rem;
}
#mainContainer .quizCard .main > .media .item.text[data-size='middle'] {
  font-size: 1.2rem;
}
#mainContainer .quizCard .main > .media .item.text[data-size='middle'] {
  font-size: 1.5rem;
}

#mainContainer .quizCard .main > .media .item[data-size='small'] {
  max-width: 50%;
  margin: auto;
}
#mainContainer .quizCard .main > .media .item[data-size='middle'] {
  max-width: 75%;
  margin: auto;
}
#mainContainer .quizCard .main > .media .item[data-size='large'] {
  max-width: 100%;
  margin: auto;
}

@media screen and (min-width: 768px){
  #mainContainer .quizCard .main > .media .item[data-size='small'] {
    max-width: 30%;
    margin: auto;
  }
  #mainContainer .quizCard .main > .media .item[data-size='middle'] {
    max-width: 50%;
    margin: auto;
  }
  #mainContainer .quizCard .main > .media .item[data-size='large'] {
    max-width: 60%;
    margin: auto;
  }
}

/* Footer */
#mainContainer .quizCard .footer {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  padding: 10px;
}

#mainContainer .quizCard .answerContainer .answer .showID {
  font-size: 1.2rem;
  font-weight: lighter;
}

.correct {
  background-color: rgba(18, 179, 18, 0.692);
}

.wrong {
  background-color: rgba(252, 42, 42, 0.637);
}

.notChoosenButCorrect {
  background-color: orange;
}

.choosen:not(.correct):not(.wrong):not(.notChoosenButCorrect) {
  background-color: rgba(165, 42, 42, 0.822);
}

.choosen:hover:not(.correct):not(.wrong):not(.notChoosenButCorrect) {
  background-color: rgb(110, 33, 33);
}

/* Result container */

#mainContainer .resultContainer {
  width: 100vw;
  min-height: 100vh;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#mainContainer .resultContainer .results {
  font-size: 1.2rem;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}

#mainContainer .resultContainer .results > div {
  margin-bottom: 10px;
}

#mainContainer .resultContainer .results #mark {
  font-size: 1.6rem;
  color: black;
  background-color: lightgreen;
  border-radius: 50%;
  text-align: center;
}

/* Details */
#mainContainer .resultContainer .details {
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.61);
  border-radius: 5px;
  color: gray;
  padding: 10px;
}

/* view Answers */
/* Button */
#mainContainer .resultContainer #viewAnswers {
  width: 100%;
}

#mainContainer .resultContainer #toggleChoosenAnswers {
  display: block;
  margin: 10px auto 10px auto;
}

#mainContainer .resultContainer #viewAnswers #choosenAnswers #content .correct {
  background-color: rgba(0, 128, 0, 0.486);
}

#mainContainer .resultContainer #viewAnswers #choosenAnswers #content .wrong {
  background-color: rgba(255, 0, 0, 0.486);
}

#mainContainer .resultContainer #viewAnswers #choosenAnswers #content .item {
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
}

/* Styling Description Text in Result Boxes */
#mainContainer .resultContainer #viewAnswers #choosenAnswers #content .item .description{
  color: white;
  font-size: 1.5rem;
}

#mainContainer .resultContainer #viewAnswers #choosenAnswers #content .item .answer{
  color: black;
}

#mainContainer .resultContainer #viewAnswers #choosenAnswers #content .item .answer .mediaContainer {
  max-width: 250px;
  position: relative;
  display: inline-block;
  margin: 5px;
}

#mainContainer .resultContainer #viewAnswers #choosenAnswers #content .item .answer .mediaContainer > * {
  max-width: 100%;
}
