* {
  margin: 0;
  padding: 0;
}

::selection {
  background-color: rgba(255, 0, 0, 0.4);
  color: white;
}

body {
  background-color: azure;
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  display: flex;
  flex-flow: column;
  
  transition: all .5s linear;
}

/* .container {
    flex: 1 auto;
} */

.dropdown-menu {
  max-width: 90vw;
  max-height: 80vh;
}

#quizzeDropdown .dropdown-menu.show {
  min-width: 100vw;
}

.dropdown-menu.show {
  overflow-y: auto;
}

.dropdown-item {
  white-space: normal;
}

[class*="dropdown-description"] {
  white-space: normal;
  max-width: 20vw;
}

/* Only lg breakpoint*/
@media only screen and (min-width: 992px) {
  .dropdown-menu {
    max-width: 50vw;
  }

  .nav-item.dropdown {
    max-width: 20vw;
  }

  #quizzeDropdown .dropdown-menu.show {
    min-width: 25vw;
  }
}

/*
.klassenAuswahl {
    max-width: 150px;
}

.klassenAuswahl a {

    word-break: break-all;
    word-wrap: break-word;
    
    
}
*/

.bold {
  font-weight: bold;
}

.skip-nav-link {
  position: absolute;
  transform: translateY(-150%);
  background-color: black;
  color: orange;
  opacity: 0;
}

.skip-nav-link:active {
  opacity: 1;
  position: relative;
  transform: translateY(0);
}


.noscroll { 
  overflow: hidden;
}

.fullscreen {
  width: 100vw !important;
  height: 100vh !important;
  min-height: 100vh;
  position: fixed !important;
  padding: 5px;
  z-index: 10000;
  transition: all 1s ease;
  background-color: rgba(0, 0, 0, 0.719);
  text-align: center;
  flex-direction: column;
  z-index: 9999;
  display: flex;
  align-items: center;
  color: white;
  top: 0;
  left: 0;
  margin: 0 !important;
  overflow-y: scroll;
}

.fullscreen img {
  max-height: 100vh !important;
  max-width: 90vw !important;
  width: max(93vw, 400px);
}

.fullscreen .description {
  text-align: center;
  font-size: 1.3rem;
  color: white;
}


/* Cookie Consent */
#cookie-popup {
	font-size: 13px;
	background-color: rgba(0,0,0,0.8);
	text-align: center;
	color: #fff;
	position: fixed;
	left: 10px;
	bottom: 10px;
	z-index: 8000;
	line-height: 20px;
}
.cookie-popup-inner {
	-webkit-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.2);
	-moz-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.2);
	box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.2);
	padding: 20px;
	z-index: 9000;
	width: min(400px, 95vw);
	background-color: rgba(0,0,0,1);
}
.cookie-popup-inner #ok {
	background-color: #fff;
	border: 2px solid #fff;
	color: #000;
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.cookie-popup-inner #ok:hover {
	background-color: #c02124;
	border: 2px solid #c02124;
	color: #fff;
}
.more a {
	border: 1px solid #ccc;
  margin: 5px;
	line-height: 24px;
	display: block;
	color: #ccc;
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.more a:hover,
.more a:focus {
	text-decoration: none;
	background-color: #333;
	color: #fff;
}

#cookie-popup #ok {
  padding: 5px;
}


/* Styled Table */
.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: gray;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  background-color: white;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid black;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: black;
}


/* Make the Website normally 100vh height */
.main-content {
  min-height: 100vh;
}

.icon-auto {
  height: 99%;
  width: auto;
}