
/* Medienverwaltung */
td.select {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}


td.select #select {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  background-color: aquamarine;
}

td.select #chooseOnly {
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
  background-color: aquamarine;
  margin: 10px;
}

td.select .copyMediaID {
  min-width: 50px;
  min-height: 30px;
}

td.select #chooseOnly img {
  width: 20px;
  height: 20px;
}


/* mediaContainer */

/* Shrink */
table.shrinkMedia .mediaContainer > * {
  max-width: 35vw;
}

table .mediaContainer {
  word-wrap: break-word;
  /* word-break: break-all; */
}

.copyMediaID-wrapper {
  width: 120px !important;
  height: 40px !important;
}