  .Ja {
      background-color: rgba(13, 194, 13, 0.726) !important;
  }

  .Nein {
      background-color:rgba(255, 0, 0, 0.788) !important;
  }

  .hideUser {
    color: red;
  }

  .quizzeDropdown .information {
    font-size: 12px;
    color: gray;
  }