.filter {
  border: 2px solid black;
  padding: 5px;
  margin: 5px;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.edit-choosenUsers {
  background-color: antiquewhite;
  border-radius: 10px;
  padding: 5px;
}

.edit-choosenUsers-Table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.edit-choosenUsers-Table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.edit-choosenUsers-Table th,
.edit-choosenUsers-Table td {
  padding: 12px 15px;
}

.delete-btn {
  width: 40px;
  position: relative;
  display: block;
}

.changeIcon {
  height: 20px;
  opacity: 0.65;
  transition: 0.25s ease-in-out;
}

.changeIcon:hover {
  opacity: 1;
}

.changeBtn {
  background: none;
  border: none;
  transition: all 0.4s ease;
}

.changeBtn:hover {
  /* background: rgba(0, 0, 0, 0.1); */
  border-radius: 5px;
}

.changeBtn:active {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}


#resultTable tbody .result .selectUser {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-around;
}

#resultTable tbody .result .selectUser #select {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  background-color: aquamarine;
}

#resultTable tbody .result .selectUser #chooseOnly {
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
  background-color: aquamarine;
}

#resultTable tbody .result .selectUser #chooseOnly img {
  width: 20px;
  height: 20px;
}

#selectionFilters > * {
  padding: 5px;
  border: 2px solid gray;
  border-radius: 5px;
}

/* Berechtigungsverwaltung */
td.select {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-around;
}

td.select #checkbox {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  background-color: aquamarine;
}

td.select #chooseOnly {
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
  background-color: aquamarine;
}

td.select #chooseOnly img {
  width: 20px;
  height: 20px;
}

.forbidden {
  opacity: 0.4;
}

.versteckt, .ausgeblendet {
  background-color: red;
}