/* Berechtigungsverwaltung */
td.select {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-around;
}

td.select #checkbox {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  background-color: aquamarine;
}

td.select #chooseOnly {
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
  background-color: aquamarine;
}

td.select #chooseOnly img {
  width: 20px;
  height: 20px;
}

.forbidden {
  opacity: 0.4;
}